.page {
    display: flex;
    flex-direction: row;
}

.home {
    float:left;
    width: 10%;
}

.home>nav {
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: 110%;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 5%;
}

.home>nav>a:visited{
    color: #FFFFFF;
}

section {
    margin-left: 5%;
}

